.menuItem {
  text-decoration: none;

  a {
    color: inherit;
  }

  a:hover {
    color: inherit;
    opacity: 0.5;
  }
}

.profileImage {
  display: block;
  margin: 0 auto;
  border: 5px solid #455785;
  border-radius: 100% 100% 100% 100%;
}

.headerLine {
  display: inline-block !important;
}

.aboutMe {
  font-family: 'Raleway', sans-serif;
}

