.menuItem {
  text-decoration: none;

  h1 {
    text-align: center;
  }

  a {
    color: inherit;
  }

  a:hover {
    color: inherit;
    opacity: 0.5;
  }
}

.profileImage {
  display: block;
  margin: 0 auto;
  border: 5px solid #455785;
  border-radius: 100% 100% 100% 100%;
}

.headerLine {
  display: inline-block !important;
}

.imageSection {
  margin-top: 0.2em !important;
}

.image {
  margin-top: 0.5em !important;
  max-width: 100%;
  width: 65%;
}

.resumeButton {
  margin: 0 auto;
  margin-top: 0.5em !important;
}

.myName {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16pt !important;
  margin-bottom: 0.4em;
}

.aboutMe {
  // text-align: justify !important;
  // text-justify: auto !important;
  font-family: 'Raleway', sans-serif;
  font-size: 16pt !important;
}
