.menuItem {
  text-decoration: none;

  a {
    color: inherit;
  }

  a:hover {
    color: inherit;
    opacity: 0.5;
  }
}

.profileImage {
  display: block;
  margin: 0 auto;
  width: 35%;
  height: 35%;
  border: 5px solid #455785;
  border-radius: 100% 100% 100% 100%;
}

